@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-dark-blue: #090d1f;
  --color-dark-text: #1A1A1A;
  --color-grey-text: #667085;
  --color-date-text: #6941C6;
  --color-dark-blog-text: #C0C5D0;

  
  --breakpoint-xs: 390px;
  --breakpoint-2xl: 834px;
  --breakpoint-3xl: 1440px;
}
